header{
    background-color: #101414;
}
body{
    background-color: #f5f5dc;
}
.foot{
    padding: 30px;
    background-color: #101414;
    margin: 0;
    text-align: center;
}
.foot{
    padding: 30px;
    background-color: #101414;
    margin: 0;
    text-align: center;
}