header{
    background-color: #101414;
}
body{
    background-color: beige;
}

table{
    background-color: whitesmoke;
}

footer{
    background-color: #101414;
}

#tablea{
    background-color: #101414;
}

hr{
    color: #101414;
    size: 50px;
}

